:root {
    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey-blue: hsl(228, 12%, 48%);
    --neutral-dark-blue: hsl(212, 21%, 14%);

    --fs-norm: 0.875rem;
    --fs-big: 1.5rem;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}